[train] #train parameters
epoch = 64
batch_size = 32

shuffle = True

optimizer = adam
learning_rate = 1e-3
# type_of_loss = multi_label_cross_entropy_loss
type_of_loss = cross_entropy_loss

weight_decay = 0
momentum = 1

gamma = 0.1
step_size = 10

pre_train = 0


[reader] #reader parameters
max_queue_size = 40
train_reader_num = 1
valid_reader_num = 1

[data] #data parameters

word2vec = /data/disk3/data/law_w2v/model200v2_64.bin
vec_size = 200


preload_word2vec = False

[model] #model parameters
name = TextCNN

[output] #output parameters
model_path = /data/disk1/private/xcj/AYYC/model
model_name = basic_model
tensorboard_path = /data/disk1/private/xcj/AYYC/tensorboard
test_time = 1
output_time = 512

accuracy_method = top1

[cutter]
thulac_model = /home/zhx/THULAC/models
thulac_dict = /home/zhx/THULAC/dict.txt
