[train]
batch_size = 400
type_of_loss = cross_entropy_loss

optimizer = adam
learning_rate = 2e-4

weight_decay = 1e-3
momentum = 1

gamma = 0.95
step_size = 1

pre_train = 0

epoch = 1024


[model]
name = LRMM

hidden_size = 256

song_feature_len = 989
user_article_len = 24


song_lyric_len = 512
moments_lda_len = 256
#user_moments_num = 
#user_moments_len = 

bert_path = /data/disk1/private/xcj/bert_model/bert-base-chinese
memory_N = 50

[reader] 
need_word2vec = False
word2id = /data/disk1/private/xcj/bert_model/bert-base-chinese/vocab.txt


max_queue_size = 40
train_reader_num = 1
valid_reader_num = 1

[data]
formatter = LRMM
train_data_path = /data/disk5/private/xcj/MusicRecom/processdata/DataPair
train_file_list = train.json

valid_data_path = /data/disk5/private/xcj/MusicRecom/processdata/DataPair
valid_file_list = test.json

user_info_path = /data/disk5/private/xcj/MusicRecom/processdata/user_info_without_moments.json
music_info_path = /data/disk5/private/xcj/MusicRecom/processdata/song_info.json

[output]
model_name = LRMM
model_path = /data/disk5/private/xcj/MusicRecom/model/
tensorboard_path = /data/disk5/private/xcj/MusicRecom/tensorboard
test_time = 1
output_time = 1
