[train]
batch_size = 256
type_of_loss = cross_entropy_loss

optimizer = adam
learning_rate = 2e-4

weight_decay = 1e-3
momentum = 1

gamma = 0.95
step_size = 1

pre_train = 0

epoch = 1024


[model]
name = TextCNN


[reader]
formatter = 
need_word2vec = False
word2id =


max_queue_size = 40
train_reader_num = 1
valid_reader_num = 1

[data]
train_data_path =
train_file_list =

valid_data_path =
valid_file_list =

user_info_path = /data/disk5/private/xcj/MusicRecom/processdata/user_info_without_ad.json
music_info_path = /data/disk5/private/xcj/MusicRecom/processdata/song_info.json

[output]
model_name = LSTM
model_path = 
tensorboard_path =
test_time = 1
output_time = 1
