[train]
batch_size = 256
type_of_loss = cross_entropy_loss

optimizer = adam
learning_rate = 1e-3

weight_decay = 1e-3
momentum = 1

gamma = 0.95
step_size = 1

pre_train = 0

epoch = 100

genre_num_th = 100
singer_num_th = 20

num_interaction = 10

[model]
name = NCF
#modelStage =NeuMF
modelStage= NeuMF-pre
#modelStage= GMF
#modelStage= MLP
#GMF_model= None
GMF_model= /home/zzy/hw/musicRec/MusicRecom/model/NCF/gmf_large.pkl
#MLP_model=None
MLP_model= /home/zzy/hw/musicRec/MusicRecom/model/NCF/mlp_large.pkl
factor_num = 64

num_layers= 3
dropout=0.0
song_feature_len = 989
user_article_len = 24

num_ng=1

song_lyric_len = 512
moments_lda_len = 256
#user_moments_num = 
#user_moments_len = 


memory_N = 50
bert_path =  /home/zzy/hw/musicRec/MusicRecom/bert-base-chinese
[reader] 
need_word2vec = False
word2id = /data/disk1/private/xcj/bert_model/bert-base-chinese/vocab.txt


max_queue_size = 40
train_reader_num = 5
valid_reader_num = 5

[data]
formatter = NCF
#train_data_path = /home/zzy/hw/musicRec/predata/DataUser/train
train_data_path = /home/zzy/hw/musicRec/predata/DataFinal/train
#train_file_list = train.json
train_file_list = train_0.json,train_1.json,train_2.json,train_3.json,train_4.json,train_5.json,train_6.json,train_7.json,train_8.json,train_9.json

#valid_data_path = /home/zzy/hw/musicRec/predata/DataUser/test
valid_data_path = /home/zzy/hw/musicRec/predata/DataFinal/test

#valid_file_list = test.json
valid_file_list = test_0.json,test_1.json,test_2.json,test_3.json,test_4.json,test_5.json,test_6.json,test_7.json,test_8.json,test_9.json
singer_num_path = /home/zzy/hw/musicRec/predata/singer_num.txt
genre_num_path = /home/zzy/hw/musicRec/predata/song_genre.json


user_info_path = /home/zzy/hw/musicRec/predata/user_info_without_moments.json
music_info_path = /home/zzy/hw/musicRec/predata/song_info.json
#[valid]
#valid_out =True
#valid_out_path =/home/zzy/hw/musicRec/MusicRecom/result.txt
[output]
model_name = NCF-Final
model_path = /mnt/data5/zzy/hw/MusicRec/model/
tensorboard_path = /home/zzy/hw/musicRec/MusicRecom/tensorboard
test_time = 1
output_time = 1
