[train]
batch_size = 600
type_of_loss = cross_entropy_loss

optimizer = adam
learning_rate = 0.001

weight_decay = 1e-3
momentum = 1

gamma = 0.9
step_size = 5

pre_train = 0

epoch = 1024

genre_num_th = 100
singer_num_th = 20

num_interaction = 5

[model]
name = RelationNetwork

hidden_size = 128
emb_size = 120

song_feature_len = 989
user_article_len = 24


song_lyric_len = 512
moments_lda_len = 256
#user_moments_num = 
#user_moments_len = 

bert_path = /data/disk1/private/xcj/bert_model/bert-base-chinese
memory_N = 50

[reader] 
need_word2vec = False
word2id = /data/disk1/private/xcj/bert_model/bert-base-chinese/vocab.txt


max_queue_size = 50
train_reader_num = 10
valid_reader_num = 10

[data]
formatter = OurFormatter
train_data_path = /data/disk5/private/xcj/MusicRecom/processdata/DataFinal/train
# train_file_list = train.json
train_file_list = train_0.json,train_1.json,train_2.json,train_3.json,train_4.json,train_5.json,train_6.json,train_7.json,train_8.json,train_9.json

valid_data_path = /data/disk5/private/xcj/MusicRecom/processdata/DataFinal/test
# valid_file_list = test.json
valid_file_list = test_0.json,test_1.json,test_2.json,test_3.json,test_4.json,test_5.json,test_6.json,test_7.json,test_8.json,test_9.json

singer_num_path = /data/disk5/private/xcj/MusicRecom/processdata/singer_num.txt
genre_num_path = /data/disk5/private/xcj/MusicRecom/processdata/song_genre.json


user_info_path = /data/disk5/private/xcj/MusicRecom/processdata/user_info_without_moments.json
music_info_path = /data/disk5/private/xcj/MusicRecom/processdata/song_info.json

[valid]
valid_out = True
valid_out_path = /data/disk5/private/xcj/MusicRecom/result.txt

[output]
model_name = RelationNetwork
model_path = /data/disk5/private/xcj/MusicRecom/model/
tensorboard_path = /data/disk5/private/xcj/MusicRecom/tensorboard
test_time = 1
output_time = 1
